#lecturer-login-wrapper {
    color: black;
    margin-top: 15vw;
    margin-bottom: 15vw;
    margin-left: 40%;
}

.login-text {
    margin-left: 0%;
    margin-block-start: 0px;
    margin-block-end: 0px;
    text-indent: 0;
    margin-top: 10px;
}

.login-input {
    color: black;
    display: block;
    margin-left: 0%;
    margin-right: 0%;
    width: 400px;
    height: 30px;
    border-style: inset;
    border-width: 2px;
    border-color: rgb(133, 133, 133);
    border-image: initial;
    font-size: 20px;

}

.flatpickr-months .flatpickr-month {
    background-color: #00384D;
}

.flatpickr-calendar.arrowTop:after {
    border-bottom-color: #00384D;
}

  .flatpickr-day.selected, .flatpickr-day.startRange, .flatpickr-day.endRange, .flatpickr-day.selected.inRange, .flatpickr-day.startRange.inRange, .flatpickr-day.endRange.inRange, .flatpickr-day.selected:focus, .flatpickr-day.startRange:focus, .flatpickr-day.endRange:focus, .flatpickr-day.selected:hover, .flatpickr-day.startRange:hover, .flatpickr-day.endRange:hover, .flatpickr-day.selected.prevMonthDay, .flatpickr-day.startRange.prevMonthDay, .flatpickr-day.endRange.prevMonthDay, .flatpickr-day.selected.nextMonthDay, .flatpickr-day.startRange.nextMonthDay, .flatpickr-day.endRange.nextMonthDay {
    background: #00384D;
    border-color: #00384D;
}

  .flatpickr-current-month input.cur-year { 
    color: skyblue;
}
  .flatpickr-current-month .flatpickr-monthDropdown-months { 
    color: skyblue;
}
  .flatpickr-months .flatpickr-prev-month, .flatpickr-months .flatpickr-next-month {
    fill: skyblue;
}

.flatpickr-minute {
    pointer-events:none;
}