/*  skyblue, 
    cerna - #333333, 
    white, 
    tmave-modra - #00384d, 
    sunglow - #FECB2E
*/

* {
    color: skyblue ; /*  #333333  */
}

html {
    background-color: #333333; /* #87ceeb */
}

body {
    margin: 0px;
    width: 100%;
    height: 100%;
}

h1, h2, h3, h4 {
    color: #FECB2E;
}


h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

p {
    margin-left: 15px;
    text-indent: 20px;
    font-size: 20px;
    margin-bottom: 20px;
}

ul {
    margin-bottom: 10px;
    margin-top: 10px;
}

label {
    display: inline-block;
    margin-bottom: 10px;
}

footer {
    height: 170px;
    width: 100%;
    background-color: #00384D;
    display:inline-block;
    margin-top: 50px;
    bottom: 0;
    position:relative;
}

#profile {
    box-shadow: 0 0 3px 5px #202020; /*  #74b2ca  */
    padding-bottom: 1px;
}


.inp-price {
    float: left;
    background: transparent;
    width: 40%;
}

.tag-checkbox {
    float: left;
    cursor: pointer;
    width: 30px;
    height: 30px;
    margin-top: -3px;
    margin-left: 10px;
    margin-right: 13px;
}

.checkbox-label {
    cursor: pointer;
}

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 2rem;
    padding: 0.1rem;
    border: 0.25rem solid skyblue;
    border-radius: 0.5rem;
}

input[type="checkbox"]::before {
    content: "";
    width: 1.4rem;
    height: 1.4rem;
    clip-path: polygon(28% 38%, 41% 53%, 75% 24%, 86% 38%, 40% 78%, 15% 50%);
    transform: scale(0);
    background-color: #FECB2E;
}

input[type="checkbox"]:checked::before {
    transform: scale(3);
}

input[type="checkbox"]:hover {
    color: black;
}


.lecturer-about {
    display: inline-block;
    width: 33%;
    height: 100%;
    vertical-align: top;
}

.lecturer-center {
    display: inline-block;
    width: 33%;
    height: auto;
    vertical-align: top;
}

.lecturer-details {
    width: 33%;
    display: inline-block;
    height: auto;
    vertical-align: top;
}

.lecturer-name {
    padding-top: 20px;
    text-align: center;
    margin-bottom: 10px;
}

.lecturer-claim {
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
}

.profile-picture {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    height: 300px;
    width: 300px;
    display: block;
    border-radius: 30%;
}

.profile-picture-card {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    height: 150px;
    width: 150px;
    display: block;
    border-radius: 30%;
}

.tag {
    background-color: #FECB2E;
    color: #333333;
    padding: 3px;
    font-size: 18px;
    border-radius: 5px;
}

.button {
    background-color: #00384D;
    border: none;
    color: white;
    padding: 9px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 10px 0px 10px;
    border-radius: 12px;
    cursor: pointer;
    width: 90%;
    height: 50px;
    left: 2.5%;
    position: sticky;
    font-size: 20pt;
}

.space-div {
    height: 20px;
    margin-top: 50px;
}


#nav-bar {
    background-color: #00384D;
    margin: -10px 0px;
    width: 100%;
}

#about-header {
    margin-left: 20px;
}

#filters {
    float: left;
    width: 20%;
    margin-left: 1%;
    margin-bottom: 10%;
    border: 5px #FECB2E;
    padding: 5px;
    box-shadow: 0 0 3px 5px #202020; /*  #74b2ca  */
}

#profile-list {
    margin-left: 1%;
    margin-right: 1%;
    float: left;
    width: 75%;
    padding: 5px;
}

#amount-max {
    background: fixed;
    text-align: right;
    float: right;
    height: 30px;
    width: 110px;
    font-size: 20pt;
}

#amount-min {
    background: fixed;
    text-align: left;
    float: left;
    height: 30px;
    width: 110px;
    font-size: 20pt;
}

#price-range-text {
    font-size: 20pt;
    margin-bottom: 0px;
}

#location-text {
    margin-top: 15px;
    font-size: 20pt;
    margin-bottom: 0px;
}

#lector-search-text {
    margin-left: 1%;
}

#location-input-field {
    height: 30px;
    width: 150px;
    background: fixed;
    font-size: 20pt;
}

#tags-text {
    margin-top: 15px;
    font-size: 20pt;
    margin-bottom: 10px;
}

