/*  skyblue, 
    cerna - #333333, 
    white, 
    tmave-modra - #00384d, 
    sunglow - #FECB2E
*/

* {
    color: skyblue ; /*  #333333  */
}

html {
    background-color: #333333; /* #87ceeb */
}

body {
    margin: 0px;
}

h1, h2, h3, h4 {
    color: #FECB2E;
}


h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

p {
    margin-left: 15px;
    text-indent: 20px;
    font-size: 20px;
}

ul {
    margin-bottom: 10px;
    margin-top: 10px;
}

label {
    display: inline-block;
    margin-bottom: 10px;
}

#profile {
    box-shadow: 0 0 3px 5px #202020; /*  #74b2ca  */
    padding-bottom: 1px;
}

#slider-range {
    margin: 10px;
}
.inp-price {
    float: left;
    background: transparent;
    width: 40%;
}

.tag-checkbox {
    float: left;
    cursor: pointer;
}

.lecturer-about {
    display: inline-block;
    width: 33%;
    height: 100%;
    vertical-align: top;
}

.lecturer-center {
    display: inline-block;
    width: 33%;
    height: auto;
    vertical-align: top;
}

.lecturer-details {
    width: 33%;
    display: inline-block;
    height: auto;
    vertical-align: top;
}

.lecturer-name {
    padding-top: 20px;
    text-align: center;
    margin-bottom: 10px;
}

.lecturer-claim {
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
}

.profile-picture {
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    height: 150px;
    width: 150px;
    display: block;
    border-radius: 30%;
}

.tag {
    background-color: #FECB2E;
    color: #333333;
    padding: 3px;
    font-size: 18px;
    border-radius: 5px;
}

.button {
    background-color: #00384D;
    border: none;
    color: white;
    padding: 9px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 12px;
    cursor: pointer;
}

#nav-bar {
    background-color: #00384D;
    margin: -10px 0px;
    width: 100%;
}
#footer {
    width: 100%;
    margin: -10px -10px;
    color: #00384D;
}
#about-header {
    margin-left: 20px;
}

#filters {
    float: left;
    width: 20%;
    margin-left: 1%;
    border: 5px #FECB2E;
    padding: 5px;
    box-shadow: 0 0 3px 5px #202020; /*  #74b2ca  */
}

#profile-list {
    margin-left: 1%;
    margin-right: 1%;
    float: left;
    width: 75%;
    padding: 5px;
}

#amount-max {
    background: fixed;
    text-align: right;
    float: right;
    height: 30px;
    width: 110px;
    font-size: 20pt;
}

#amount-min {
    background: fixed;
    text-align: left;
    float: left;
    height: 30px;
    width: 110px;
    font-size: 20pt;
}

#price-range-text {
    font-size: 20pt;
    margin-bottom: 0px;
}

#location-text {
    margin-top: 15px;
    font-size: 20pt;
    margin-bottom: 0px;
}
