<!DOCTYPE html>

<head>
    <style>
      @font-face { font-family: Lalezar; src: url("{{url_for('static', filename='Lalezar-Regular.ttf')}}"); } 
      h1, h2, h3, h4{
         font-family: Lalezar
      }
      @font-face { font-family: OpenSans; src: url("{{url_for('static', filename='OpenSans-VariableFont_wdth,wght.ttf')}}"); } 
      p, a, form {
         font-family: OpenSans
      }
    </style>
    <title>Teach digital Agency</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script>
        $(function () {
$("#slider-range").slider({
    range: true,
    min: 0,
    max: "{{max_price}}",
values: [$('#amount-min').val(), $('#amount-max').val()],
slide: function (event, ui) {
    $("#amount-min").val(ui.values[0]);
    $("#amount-max").val(ui.values[1]);
}
});
} );
    </script>
    <meta
  http-equiv="Content-Security-Policy"
  content="default-src 'self'; 
  img-src https://* 'self'; 
  child-src 'none';
  script-src code.jquery.com 'self' https://cdn.jsdelivr.net https://npmcdn.com;
  font-src https://fonts.gstatic.com 'self';
  style-src 'self' https://npmcdn.com https://cdn.jsdelivr.net 'unsafe-inline' https://fonts.googleapis.com code.jquery.com;
  frame-src https://calendar.google.com/;
  "/>
    {% block head %}
    {% endblock%}
</head>
<body>
    <div id="nav-bar">
        <a href = "{{url_for('lecotrs_search_page')|e}}">
            <img src = "{{url_for('static', filename='TeacherDigitalAgency_LOGO_colour-white.svg')}}" height="100" id="top-img">
        </a>
        {%if session["uuid"]%}
        
        <a href = "{{url_for('lecturer_private_profile')|e}}">
             Logged in as {{session["my_lecturer"].first_name|e}} {{session["my_lecturer"].last_name|e}}
        </a>  
      
        <button class = "nButt" >
       
        <a href = "{{url_for('lecturer_logout')|e}}">
             Logout
        </a>
        </button>
        {%else%}
        <button class = "nButt" >
        <a href = "{{url_for('lecturer_login')|e}}">
             Log in
        </a>  
        </button>
        {%endif%}
    </div>
    {% block content %}{% endblock%}
    <footer>
        <a href = "{{url_for('lecotrs_search_page')|e}}">
        <img src = "{{url_for('static', filename='TeacherDigitalAgency_LOGO_colour-white.svg')}}" height="100" id="footer-img">
        </a>
    </footer>
</body>
</html>