<!DOCTYPE html>

<head>
    <style>
      @font-face { font-family: Lalezar; src: url("{{url_for('static', filename='Lalezar-Regular.ttf')}}"); } 
      h1, h2, h3, h4{
         font-family: Lalezar
      }
      @font-face { font-family: OpenSans; src: url("{{url_for('static', filename='OpenSans-VariableFont_wdth,wght.ttf')}}"); } 
      p, a, form {
         font-family: OpenSans
      }
    </style>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    {% block head %}
    {% endblock%}
</head>
<body>
    <div id="nav-bar">
        <a href = "{{url_for('homepage')|e}}">
            <img src = "{{url_for('static', filename='TeacherDigitalAgency_LOGO_colour-white.svg')}}" height="100" style="vertical-align:middle;margin:40px 40px">
        </a>
    </div>
    {% block content %}{% endblock%}
    <footer>
        <img src = "{{url_for('static', filename='TeacherDigitalAgency_LOGO_colour-white.svg')}}" height="100" style="vertical-align:middle;margin:40px 40px;float: right;">
    </footer>
</body>
</html>