<!DOCTYPE html>

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
    {% block head %}
    {% endblock%}
</head>
<body>
    <div id="nav-bar">
        <h1>TDA</h1>
        <a href = "{{url_for('homepage')|e}}">Home</a><a>  </a>
        <a href = "{{url_for('lecturer_profile')|e}}">Lecturer</a><a>  </a>
        <a href = "{{url_for('api_request')|e}}">API</a>
    </div>
    <div id="content">{% block content %}{% endblock%}</div>
    <div id="footer">
        {% block footer %}
        <h1>End of page</h1>
        <h2>TEACHER DIGITAL AGENCY</h2>
        {% endblock%}
    </div>
</body>
</html>