{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Left and Right Buttons</title>
<link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <div class="button-container">
    <a href="{{url_for('lecturer_login')|e}}"><button class="left-button">Jsem lektor</button></a>
    <a href="{{url_for('lecotrs_search_page')|e}}" style="align-self: center;"><button class="right-button">Chci lektora</button></a>
 </div>
</body>
</html>
{% endblock %}