{% extends "base.html" %}
{% block head%}
<!-- jquerry -->

<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<script>
  $(function () {
    $("#slider-range").slider({
      range: true,
      min: 0,
      max: "{{max_price}}",
    values: [$('#amount-min').val(), $('#amount-max').val()],
    slide: function (event, ui) {
      $("#amount-min").val(ui.values[0]);
      $("#amount-max").val(ui.values[1]);
    }
    });
  } );
</script>
<!-- jquerry -->
{% endblock%}
{% block content %}
<h1>Vyhledávání lektorů</h1>
<div id="filters">
  <datalist id="seznam-lokaci">
    <option value="Praha"></option>
    <option value="Brno"></option>
  </datalist>
  <form method="post">
    <label id="price-range-text">
      Cena od/do:
    </label><br>
    <div id="slider-range"></div>
    <input type="text" id="amount-min" name="min_price" class="inp-price" {% if last_searched.min_price %}
      value="{{last_searched.min_price}}" {% endif %} readonly>
    <input type="text" id="amount-max" name="max_price" class="inp-price" {% if last_searched.max_price %}
      value="{{last_searched.max_price}}" {% endif %} readonly><br>
    <label id="location-text">lokace</label><br>
    <input type="text" name="location" placeholder="Lokace" list="seznam-lokaci" {% if last_searched.location %}
      value="{{last_searched.location}}" {% endif %}><br>
    <label>Tags</label><br>
    {% for tag in tags %}
    <label for="{{tag.uuid}}">
      <a class="tag">{{tag.name|e}}</a>
      <input type="checkbox" class="tag-checkbox" id="{{tag.uuid}}" name="{{tag.uuid}}" {% if
        last_searched[tag.uuid]=="on" %} checked{% endif %}>
    </label><br>
    {% endfor %}
    <input type="submit" value="Search" class="button"><br>
  </form>
</div>
<div id="profile-list">
  {% for lecturer in lecturers %}
  <div id="profile">
    <a href="{{url_for('profile', uuid=lecturer.uuid)}}">
      <img class="profile-picture"
        src="{{lecturer.picture_url|e if lecturer.picture_url else url_for('static', filename='TdA_sipka_modrocerna.png')}}"
        alt="Profile picture">
      <p class="lecturer-name">
        {% if lecturer.title_before %}{{lecturer.title_before|e}} {% endif %}
        {% if lecturer.first_name %}{{lecturer.first_name|e}} {% endif %}
        {% if lecturer.middle_name %}{{lecturer.middle_name|e}} {% endif %}
        {% if lecturer.last_name %}{{lecturer.last_name|e}} {% endif %}
        {% if lecturer.title_after %}{{lecturer.title_after|e}}{% endif %}
      </p>
      <p class="lecturer-claim"><i>{{lecturer.claim|e}}</i></p>
      {% if lecturer.price_per_hour %}<p>{{lecturer.price_per_hour|e}} kč za hodinu</p>{% endif %}
      {% if lecturer.location %}<p>{{ lecturer.location|e }}</p>{% endif %}
      <p>{% for tag in lecturer.tags %} <a class="tag">{{tag.name|e}}</a>{% endfor %}</p>
    </a>
  </div>
  {% endfor %}
</div>
{% endblock%}