<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='slider-styles.css')}}">

{% extends "base.html" %}
{% block head%}
<!-- jquerry -->


<script>
  $(function () {
    $("#slider-range").slider({
      range: true,
      min: 0,
      max: "{{max_price}}",
    values: [$('#amount-min').val(), $('#amount-max').val()],
    slide: function (event, ui) {
      $("#amount-min").val(ui.values[0]);
      $("#amount-max").val(ui.values[1]);
    }
    });
  } );
</script>
<title>Teacher digital Agency</title>
<!-- jquerry -->
{% endblock%}
{% block content %}
<div id="lector-search-text">
<h1>Vyhledávání lektorů</h1>
</div>
<div id="filters">
  <datalist id="seznam-lokaci">
    <option value="Praha"></option>
    <option value="Brno"></option>
  </datalist>
  <form method="post">
    <label id="price-range-text">
      Cena od/do:
    </label><br>
    <div id="slider-range"></div>
    <div>
      <input type="text" id="amount-min" placeholder="od" name="min_price" class="inp-price" {% if last_searched.min_price %}
        value="{{last_searched.min_price}}" {% else %} value="0" {% endif %} oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" />
      <input type="text" id="amount-max" placeholder="do" name="max_price" class="inp-price" {% if last_searched.max_price %}
        value="{{last_searched.max_price}}" {% else %} value="{{max_price}}" {% endif %} oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" /><br>
    </div>
    <label id="location-text">Lokalita</label><br>
    <input type="text" name="location" placeholder="Město" list="seznam-lokaci" id="location-input-field" {% if last_searched.location %}
      value="{{last_searched.location}}" {% endif %}><br>
    <label id="tags-text">Tagy</label><br>
    {% for tag in tags %}
    <label for="{{tag.uuid}}" class="checkbox-label">
      <a class="tag">{{tag.name|e}}</a>
      <input type="checkbox" class="tag-checkbox" id="{{tag.uuid}}" name="{{tag.uuid}}" {% if
        last_searched[tag.uuid]=="on" %} checked{% endif %}>
    </label><br>
    {% endfor %}
    <input type="submit" value="Hledat" class="button"><br>
  </form>
</div>
<div id="profile-list">
  {% for lecturer in lecturers %}
  <div id="profile">
    <a href="{{url_for('profile', uuid=lecturer.uuid)}}">
      <div class="space-div"></div>
      <img class="profile-picture-card"
        src="{{lecturer.picture_url|e if lecturer.picture_url else url_for('static', filename='TdA_sipka_modrocerna.png')}}"
        alt="Profile picture">
      <h1 class="lecturer-name">
        {% if lecturer.title_before %}{{lecturer.title_before|e}} {% endif %}
        {% if lecturer.first_name %}{{lecturer.first_name|e}} {% endif %}
        {% if lecturer.middle_name %}{{lecturer.middle_name|e}} {% endif %}
        {% if lecturer.last_name %}{{lecturer.last_name|e}} {% endif %}
        {% if lecturer.title_after %}{{lecturer.title_after|e}}{% endif %}
      </h1>
      <p class="lecturer-claim"><i>{{lecturer.claim|e}}</i></p>
      {% if lecturer.price_per_hour %}<p>{{lecturer.price_per_hour|e}} kč za hodinu</p>{% endif %}
      {% if lecturer.location %}<p>{{ lecturer.location|e }}</p>{% endif %}
      <p>{% for tag in lecturer.tags %} <a class="tag">{{tag.name|e}}</a>{% endfor %}</p>
    </a>
  </div>
  {% endfor %}
</div>
{% endblock%}