{% extends "base.html" %}
{% block content %}
<!-- <h1>Lecturer profile</h1> -->
<div id="profile">
<div class="lecturer-header">
  <h1 class="lecturer-name">
  {% if lecturer.title_before %}{{lecturer.title_before}} {% endif %}
  {% if lecturer.first_name %}{{lecturer.first_name}} {% endif %}
  {% if lecturer.middle_name %}{{lecturer.middle_name}} {% endif %}
  {% if lecturer.last_name %}{{lecturer.last_name}} {% endif %}
  {% if lecturer.title_after %}{{lecturer.title_after}}{% endif %}</h1>
  <p class="lecturer-claim">{{lecturer.claim}}</p>
</div>
<div class="lecturer-about">
  <h2 id="about-header">O mně: </h2>
  <div>{{lecturer.bio|safe}}</div>
</div>
<div class="lecturer-center">
  {% if lecturer.picture_url %}
  <img class="profile-picture" src="{{lecturer.picture_url}}" alt="Profile picture">
  {% else %}
  <img class="profile-picture" src="https://lh3.googleusercontent.com/u/0/drive-viewer/AK7aPaC-v3J5MIjSXqC1xIeJz08S85KcL6MDqYvxZMNqPOVvh5hWgYOvCaV_HhSadWPrzreh9SL2lDo7qr-ZdkMO5SVA1Kh3nQ=w1418-h924" alt="Profile picture">
  {% endif %}
</div>
<div class="lecturer-details">
  <h2>Tagy:</h2>
  <ul>
    {% for tag in lecturer.tags %}
      <li class="tag">{{ tag.name|e }}</li>
    {% endfor %}
  </ul>
  {% if lecturer.price_per_hour %}
  <h3>Cena:</h3>
  <ul>
    <li class="tag">{{lecturer.price_per_hour}} kč za hodinu</li>
  </ul>
  {% endif %}
  {% if lecturer.location %}
  <h3>Lokace:</h3>
  <ul>
    <li class="tag">{{ lecturer.location|e }}</li>
  </ul>
  {% endif %}
  {% if lecturer.contact %}
  <h3>Kontakt:</h3>
  <ul>
    {% for phone in lecturer.contact.telephone_numbers %}
      <li>{{ phone|e }}</li>
    {% endfor %}
    {% for mail in lecturer.contact.emails %}
      <li>{{ mail|e }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  </div>
</div>
{% endblock%}

