{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='lecturerpage-styles.css')}}">
{% endblock %}
{% block content %}

<div>
    <button class = "nButt" style="margin-top: -170px; margin-right: 30vw;">
    <a href="{{url_for('lecturer_edit_profile')}}">Edit my profile</a>
    </button>
</div>

<div id="profile2">
    <h1>Nevyřízené objednávky</h1>
    <p>Po potvrzení/zamítnutí objednávky bude klient automaticky informován mailem.</p>
{% for order in orders %}
<div id="profile">
    <div class="space-div"></div>
    <div class="left-side" style="width: 50%; display: inline-block;">
        <h1 class="lecturer-name">
        {{order[1]}} {{order[2]}}
        </h1>
        <p>email: {{order[3]}}</p>
        <p>datum a čas: {{order[7]}}:00</p>
        <p>telefon: {{order[4]}}</p>
        <p>typ schůzky: {{order[6]}}</p>

        {% if order[5]|length < 0 %}
        <p>tagy: {% for tag in order[5] %} <span class="tag">{{tag}}</span>{% endfor %}</p>
        {%else%}
        <p>tagy: NEBYLY ZVOLENY</p>
        {%endif%}
        <p>zpráva od klienta: {{order[8]}}</p>
    </div>
    <div class="right-side" style="width: 49%; display: inline-block;">
        <form method="post">
            <input name="email" type="hidden" value="{{order[3]}}">
            <input name="date_and_time" type="hidden" value="{{order[7]}}">
            <input name="phone_number" type="hidden" value="{{order[4]}}">
            <input name="meet_type" type="hidden" value="{{order[6]}}">
            <input name="tags" type="hidden" value="{{order[5]}}">
            <input name="message" type="hidden" value="{{order[8]}}">
            <input name="first_name" type="hidden" value="{{order[1]}}">
            <input name="last_name" type="hidden" value="{{order[2]}}">
            <input name="uuid" type="hidden" value="{{order[0]}}">
            <input name="order_id" type="hidden" value="{{order[9]}}">

            <h1>Zpráva pro klienta: </h1>
            <textarea class="login-input" name="message" rows="4" cols="50" style="height: 200px;"></textarea><br>
            <button class="nButtSub" name="submit" value="ne" style="margin-left: 343px; width: 300px; background-color: red;">Zamítnout</button>
            <button class="nButtSub" style="width: 300px; background-color: greenyellow; margin-left: -3vw;" name="submit" value="ano">Potvrdit objednávku</button>
            
            
        </form>
    </div>

</div>
{% endfor %}
</div>
<a href="{{url_for('approved_orders')|e}}">
    <button class="button" name="submit" value="ne">Zobrazit potvrzené objednávky</button>
</a>

{% endblock%}