{% extends "base.html" %}
{% block content %}
<!-- <h1>Lecturer profile</h1> -->
<div id="profile">
<div class="lecturer-header">
  <h1 class="lecturer-name">
  {% if lecturer.title_before %}{{lecturer.title_before|e}} {% endif %}
  {% if lecturer.first_name %}{{lecturer.first_name|e}} {% endif %}
  {% if lecturer.middle_name %}{{lecturer.middle_name|e}} {% endif %}
  {% if lecturer.last_name %}{{lecturer.last_name|e}} {% endif %}
  {% if lecturer.title_after %}{{lecturer.title_after|e}}{% endif %}</h1>
  <p class="lecturer-claim">{{lecturer.claim|e}}</p>
</div>
<div class="lecturer-about">
  <h2 id="about-header">O mně: </h2>
  <p>
    {{lecturer.bio|safe}}
  </p>
</div>
<div class="lecturer-center">
  <img class="profile-picture" src="{{lecturer.picture_url if lecturer.picture_url else url_for('static', filename='TdA_sipka_modrocerna.png')}}" alt="Profile picture">
</div>
<div class="lecturer-details">
  <h2>Tagy:</h2>
  <p>
    {% for tag in lecturer.tags %}
      <a class="tag">{{ tag.name|e }}</a>
    {% endfor %}
  </p>
  <h3>Cena:</h3>
  <p>
    {{lecturer.price_per_hour|e}} kč za hodinu
  </p>
  <h3>Lokace:</h3>
  <p>
    {{ lecturer.location|e }}
  </p>
  <h3>Kontakt:</h3>
    {% for phone in lecturer.contact.telephone_numbers %}
      <p>{{ phone|e }}</p>
    {% endfor %}
    {% for mail in lecturer.contact.emails %}
      <p>{{ mail|e }}</p>
    {% endfor %}
  </div>
</div>
{% endblock%}

