{% extends "base.html" %}

{% block head %}
<datalist id="meet-types">
    <option value="online"></option>
    <option value="prezenčně"></option>
</datalist>
<link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/material_blue.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='lecturerpage-styles.css')}}">
<script src="https://npmcdn.com/flatpickr/dist/l10n/cs.js"></script>
{% endblock %}


{% block content %}
<div id="lecturer-login-wrapper">
    <form method="post">
        <h1 class="login-text">Objednáváte mentora {{lecturer.first_name}} {{lecturer.last_name}}</h1>
        <br>
        <p class="login-text">Křestní jméno: </p>
        <input type="text" name="first-name" class="login-input">
        <p class="login-text">Příjmení: </p>
        <input type="text" name="last-name" class="login-input">
        <p class="login-text">email: </p>
        <input type="email" name="email" class="login-input">
        <p class="login-text">telefonní číslo: </p>
        <input type="tel" pattern="(\+420)?[0-9]{9}" name="phone-number" class="login-input">
        <p class="login-text">Typ schůzky: </p>
        <select name="meet-type" id="meet-type" class="login-input">
            <option value="online">online</option>
            <option value="prezenčně">presenčně</option>
        </select>
        <p class="login-text">Datum a čas začátku schůzky: </p>
        <input type="datetime-local" id="datepick" class="login-input" name="date">
        <p class="login-text">Tagy ke schůzce: </p> <br>
        {% for tag in lecturer.tags %}
        <label for="{{tag.uuid}}" class="checkbox-label">
            <a class="tag">{{tag.name|e}}</a>
            <input type="checkbox" class="tag-checkbox" id="{{tag.uuid}}" name="{{tag.uuid}}">
          </label><br>
        {% endfor %}
        <p class="login-text">Zpráva pro mentora: </p>
        <textarea class="login-input" id="tall" name="message" rows="4" cols="50"></textarea>

        <input type="submit" value="objednat" class="button" id="width380"><br>
    </form>
    </div>




<script src="{{ url_for('static', filename='flatpicr.js')}}"></script>
{% endblock %}